name: scraper 

on: [push]

jobs:
  scrape-notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          cache: "npm"

      - run: npm install

      - name: run puppeteer
        run: node main.js
        id: scrape-run

      - name: notify 
        if: ${{steps.scrape-run.outputs.INSTOCK == true}}
        run: echo "we are in stock!!"